$primaryColor: #fe6261;
$secondaryColor: #333333;
$tertiaryColor: #efefef;
$font: 'Poppins', sans-serif;

.loading-container {
    height: 100vh;
    display: grid;
    place-items: center;
    background: $secondaryColor;
}

.not-found-container {
    height: 100vh;
    display: grid;
    place-items: center;
    background: $secondaryColor;
    color: $tertiaryColor;
}